<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletBorrar</servlet-name>
        <servlet-class>paquete.ServletBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrear</servlet-name>
        <servlet-class>paquete.ServletCrear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditar</servlet-name>
        <servlet-class>paquete.ServletEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIntermedio</servlet-name>
        <servlet-class>paquete.ServletIntermedio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidacion</servlet-name>
        <servlet-class>paquete.ServletValidacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBorrar</servlet-name>
        <url-pattern>/ServletBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrear</servlet-name>
        <url-pattern>/ServletCrear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditar</servlet-name>
        <url-pattern>/ServletEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIntermedio</servlet-name>
        <url-pattern>/ServletIntermedio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidacion</servlet-name>
        <url-pattern>/ServletValidacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
