<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Admin.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>paquete.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fail</servlet-name>
        <servlet-class>paquete.fail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>Admin.Administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profesor</servlet-name>
        <servlet-class>Profesor.Profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alumno</servlet-name>
        <servlet-class>Student.Alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FalloLogin</servlet-name>
        <servlet-class>Admin.FalloLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Type_Question</servlet-name>
        <servlet-class>Admin.Type_Question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DragAndDrop</servlet-name>
        <servlet-class>Admin.DragAndDrop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlank</servlet-name>
        <servlet-class>Admin.FillInBlank2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DragAndDrop2</servlet-name>
        <servlet-class>Admin.DragAndDrop2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlank2</servlet-name>
        <servlet-class>Admin.FillInBlank3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlank1</servlet-name>
        <servlet-class>Admin.FillInBlank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankText</servlet-name>
        <servlet-class>Admin.FillInBlankText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankAudio</servlet-name>
        <servlet-class>Admin.FillInBlankAudio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankVideo</servlet-name>
        <servlet-class>Admin.FillInBlankVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankImage</servlet-name>
        <servlet-class>Admin.FillInBlankImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Admin.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankType</servlet-name>
        <servlet-class>Admin.FillInBlankType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestData</servlet-name>
        <servlet-class>Admin.RequestData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateXML</servlet-name>
        <servlet-class>Admin.CreateXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBean</servlet-name>
        <servlet-class>Admin.LoginBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditXML</servlet-name>
        <servlet-class>Admin.EditXMLText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateXML</servlet-name>
        <servlet-class>Admin.ValidateXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDOMValidador</servlet-name>
        <servlet-class>Admin.JDOMValidador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XMLFillText</servlet-name>
        <servlet-class>Admin.FeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBack</servlet-name>
        <servlet-class>Admin.FeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XMLTextFill</servlet-name>
        <servlet-class>Admin.XMLTextFill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XMLTextFill1</servlet-name>
        <servlet-class>Admin.XMLTextFill1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankVideo1</servlet-name>
        <servlet-class>Admin.FillInBlankVideo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet1</servlet-name>
        <servlet-class>Admin.UploadServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XMLAudioFill1</servlet-name>
        <servlet-class>Admin.XMLAudioFill1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBack2</servlet-name>
        <servlet-class>Admin.FeedBack2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankAudio2</servlet-name>
        <servlet-class>Admin.FillInBlankAudio2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankVideo2</servlet-name>
        <servlet-class>Admin.FillInBlankVideo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankImage1</servlet-name>
        <servlet-class>Admin.FillInBlankImage1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInBlankImage2</servlet-name>
        <servlet-class>Admin.FillInBlankImage2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Pregunta</servlet-name>
        <servlet-class>Admin.Eliminar_Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar_Pregunta</servlet-name>
        <servlet-class>Admin.Modificar_Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ver_Pregunta</servlet-name>
        <servlet-class>Admin.Ver_Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerAudio</servlet-name>
        <servlet-class>Admin.VerAudio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerVideo</servlet-name>
        <servlet-class>Admin.VerVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerImage</servlet-name>
        <servlet-class>Admin.VerImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vertext</servlet-name>
        <servlet-class>Admin.Vertexto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerTexto1</servlet-name>
        <servlet-class>Admin.VerTexto1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAudio</servlet-name>
        <servlet-class>Admin.ModificarAudio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarVideo</servlet-name>
        <servlet-class>Admin.ModificarVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTexto</servlet-name>
        <servlet-class>Admin.ModificarTexto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarImage</servlet-name>
        <servlet-class>Admin.ModificarImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fail</servlet-name>
        <url-pattern>/fail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profesor</servlet-name>
        <url-pattern>/Profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alumno</servlet-name>
        <url-pattern>/Alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FalloLogin</servlet-name>
        <url-pattern>/FalloLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Type_Question</servlet-name>
        <url-pattern>/Type_Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DragAndDrop</servlet-name>
        <url-pattern>/DragAndDrop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlank</servlet-name>
        <url-pattern>/FillInBlank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DragAndDrop2</servlet-name>
        <url-pattern>/DragAndDrop2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlank2</servlet-name>
        <url-pattern>/FillInBlank2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlank1</servlet-name>
        <url-pattern>/FillInBlank1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankText</servlet-name>
        <url-pattern>/FillInBlankText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankAudio</servlet-name>
        <url-pattern>/FillInBlankAudio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankVideo</servlet-name>
        <url-pattern>/FillInBlankVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankImage</servlet-name>
        <url-pattern>/FillInBlankImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankType</servlet-name>
        <url-pattern>/FillInBlankType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestData</servlet-name>
        <url-pattern>/RequestData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateXML</servlet-name>
        <url-pattern>/CreateXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBean</servlet-name>
        <url-pattern>/LoginBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditXML</servlet-name>
        <url-pattern>/EditXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateXML</servlet-name>
        <url-pattern>/ValidateXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDOMValidador</servlet-name>
        <url-pattern>/JDOMValidador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLFillText</servlet-name>
        <url-pattern>/XMLFillText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBack</servlet-name>
        <url-pattern>/FeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLTextFill</servlet-name>
        <url-pattern>/XMLTextFill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLTextFill1</servlet-name>
        <url-pattern>/XMLTextFill1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankVideo1</servlet-name>
        <url-pattern>/FillInBlankVideo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet1</servlet-name>
        <url-pattern>/UploadServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLAudioFill1</servlet-name>
        <url-pattern>/XMLAudioFill1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBack2</servlet-name>
        <url-pattern>/FeedBack2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankAudio2</servlet-name>
        <url-pattern>/FillInBlankAudio2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankVideo2</servlet-name>
        <url-pattern>/FillInBlankVideo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankImage1</servlet-name>
        <url-pattern>/FillInBlankImage1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInBlankImage2</servlet-name>
        <url-pattern>/FillInBlankImage2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Pregunta</servlet-name>
        <url-pattern>/Eliminar_Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar_Pregunta</servlet-name>
        <url-pattern>/Modificar_Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver_Pregunta</servlet-name>
        <url-pattern>/Ver_Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAudio</servlet-name>
        <url-pattern>/VerAudio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerVideo</servlet-name>
        <url-pattern>/VerVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerImage</servlet-name>
        <url-pattern>/VerImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vertext</servlet-name>
        <url-pattern>/Vertext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerTexto1</servlet-name>
        <url-pattern>/VerTexto1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAudio</servlet-name>
        <url-pattern>/ModificarAudio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarVideo</servlet-name>
        <url-pattern>/ModificarVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTexto</servlet-name>
        <url-pattern>/ModificarTexto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarImage</servlet-name>
        <url-pattern>/ModificarImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
